#header {
    grid-template-columns: auto 1fr auto;
    padding: 1rem;
    align-items: center;
}

#header-buttons {
    gap: 1rem;
}

.header-button {
    font-family: PlexMono;
    font-size: .9rem;
    padding: .2rem .6rem;
    border: var(--text) 1px solid;
}

#theme.button {
    height: 1.5rem;
    width: 1.5rem;
    border: var(--text) 1px solid;
    fill: var(--text);
}

#svg-logo {
    fill: var(--accent);
    height: 2.5rem;
    width: auto;
}