.showcase {
    overflow: hidden;
    display: inline-flex;
    min-height: 240px;
    align-items: center;
    justify-content: center;
    background: var(--secondary-bg);
    border: 1px solid var(--border);
    border-radius: 8px;
    animation: var(--load-anim);
}

.showcase-image {
    width: 80%;
    height: auto;
}