.showcase {
    overflow: hidden;
    display: inline-flex;
    min-height: 240px;
    align-items: center;
    justify-content: center;
    background: var(--secondary-bg);
    border: 1px solid var(--border);
    border-radius: 8px;
    box-shadow: var(--click-shadow);
    transition: all .2s ease;
}

.showcase:hover {
    background: var(--background);
    box-shadow: var(--click-shadow-hover);
    transform: scale(1.01);
}

.showcase-image {
    width: 80%;
    height: auto;
}