.about-me {
    display: flex;
    flex-direction: column;
}

.about-me > .header {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 12px 0;
    align-items: center;
    letter-spacing: -.25px;
    font-size: 12px;
}

.header > .title {
    color: var(--tertiary);
    font-weight: 300;
}

.header > .time {
    color: var(--secondary);
    font-weight: 400;
}

.about-me > .description {
    font-size: 28px;
    letter-spacing: -1px;
}

@media (max-width: 1100px) {
    .about-me > .description {
        font-size: 24px;
    }
}