.title {
    transform: inherit;
}

a {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

a > svg {
    width: 27px;
    opacity: 0;
    animation: opacity .2s ease;
}

a > svg > * {
    fill: var(--foreground);
}

a:hover > svg {
    opacity: 0.5;
    animation: ease 0.2s;
}