.title {
    transform: inherit;
}

a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a > .arrow {
    width: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: width 400ms ease 40ms;
}

a:hover > .arrow {
    width: 2rem;
    transition-delay: 0s;
}

a > .arrow > svg {
    width: 27px;
    opacity: 0;
    filter: blur(5px);
    transform: translate(0, 50px);
    transition: opacity 500ms ease, transform 400ms ease, filter 350ms ease;
    transition-delay: 0s;
}

a:hover > .arrow > svg {
    opacity: 1;
    filter: blur(0px);
    transform: translate(0, 0);
    transition-delay: 50ms, 50ms, 50ms;
}

a > .arrow > svg > * {
    fill: var(--foreground);
}