.bar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background: var(--secondary-bg);
    border: 1px solid var(--border);
    padding: 7px 14px;
    border-radius: 100px;
    width: max-content;
    height: min-content;
}

.bar > * {
    font-family: var(--font-inter);
    cursor: pointer;
    font-size: 12px;
}

.bar > :not(.selected):hover {
    opacity: 1;
}

.bar > :not(.selected) {
    opacity: 0.7;
    font-weight: 400;
}