@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --background: #ffffff;
  --secondary-bg: #00000005;
  --foreground: #171717;
  --secondary: #a7a7a7;
  --border: #0000000b;
  --load-anim: 1.5s cubic-bezier(0.2, 1.4, 0.5, 1) 0s 1 appear;
  --font-jetbrains-mono: 'JetBrains Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, "Segoe UI Mono", "Roboto Mono", monospace;
  --font-inter: 'Inter', Helvetica, Arial
}

@keyframes appear {
  0% {
    transform: translate(0, 50px);
    filter: blur(5px);
    opacity: 0;
  }
  100% {
    transform: translate(0,0);
    filter: blur(0px);
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
}

.animate {
  animation: var(--load-anim);
  animation-fill-mode: forwards;
}

html,
body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
