:root {
  --background: rgb(250, 250, 250);
  --secondary-bg: rgba(0, 0, 0, 0.043);
  --primary: rgb(10,10,10);
  --secondary: rgb(80,80,80);
  --tertiary: rgb(140,140,140);
}

* {
  color: var(--primary);
}