* {
  font-family: var(--font-inter);
}

.layout {
  height: 100dvh;
  width: 100dvw;
  display: grid;
  grid-template:
    ". . ." 5fr
    ". a ." 8fr
    ". . ." 5fr / 15dvw 350px 1fr;
}

.container {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto 1fr;
  grid-area: a;
}

.info {
  color: var(--secondary);
  display: flex;
  flex-direction: row;
  gap: 8px;
  animation: none !important;
  transform: none !important;
  cursor: default !important;
  padding-bottom: 0.5rem;
}

.info > * {
  animation-delay: 200ms;
  opacity: 0;
  font-family: var(--font-jetbrains-mono);
  font-size: 12px;
  letter-spacing: -0.2px;
  font-weight: 500;
}

.info>:nth-child(2) {
  text-align: right;
}

.container > a {
  width: max-content;
  padding: .25rem 0px;
  padding-right: 6rem;
  font-size: 22px;
  font-weight: 500;
  height: min-content;
}

.container > div {
  cursor: pointer;
}

.container > div > * > *  {
  fill: var(--foreground);
}